// HOME  PAGE STYLING

.body {
  overflow-block: none;
  width: 100vh;

}


h1{
    font-size: 1.4em;
    font-weight: lighter;
    text-align: center;
}



.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
    font-size: 37px;
    margin: 0;
}

.navbar {
  padding-right: 10%;
  padding-left: 10%;

}

// .navbar-light .navbar-brand {
//     color: rgba(0,0,0,.9);
//     font-size: 50px;
// }


.nav-bar-options {
    justify-content: flex-end;
    margin-right: 60px;
    font-weight: lighter;
    font-size: larger;
}

.navbar-nav a {
  margin: 0 0px;
}

// .test {
//     // position: absolute;
//     max-width: 80%;
//     max-height: 70%;
//     // padding-right: 34px;
//     // padding-left: 15px;
//     padding: 0 100px;

// }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 103%;
  min-width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 1.5em;
}



.hover-image-1:hover .overlay {
  opacity: 0.5;
}
.hover-image-2:hover .overlay {
  opacity: 0.5;
}

.overlay-text {
  color: black;
  font-size: 1.4em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


// PORTFOLIO PAGE STYLING


  .job-gallery-container {
    // padding: 40px;
    // max-height: 50%;


}

// .img-fluid {
//     max-width: 100%;
//     height: initial;
//     max-height: 100%;
//     object-fit: cover;
// }

.img-fluid {
    max-width: 100%;
    height: initial;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

.video-container {
  // width: auto;
  // height: 500px;
  max-height: 500px;

}

.embed-responsive {
    position: relative;
    display: -webkit-box;
    width: 70%;
    padding: 0;
    overflow: hidden;
    margin: auto;
}

@-webkit-full-page-media {
    background-color: rgb(1, 1, 0);
}

.carousel-inner video  {
  width: auto;
  height: 500px;
  max-height: 500px;


}

.carousel-inner img  {
  width: auto;
  height: 500px;
  max-height: 500px;


}

.carousel {
  width: fit-content;
  display: block;
  margin: 30px auto;

}

.carousel-inner  {


}

.carousel-item {

}




// gallery

.job-categories {
  margin-top: 10px;
}

.row {
  margin: 15px;
}


.job-name-column {
  text-align: center;
  align-self: center;
  font-size: 30px;
  background-clip: border-box;
  border: solid gray 0.3px;
  height: 100%;
  background-size: cover;
  margin-bottom: 10px;
  font-weight: lighter;
}

.image-spacing  {
  padding: 10px;
}


.line {
        // padding-left : 8vw;
        background-color:gray;
        opacity: 0.5;
        height:0.5px;
        width:100%;

    }

// SOCIAL MEDIA

.fa {
  padding: 0 10px;
  font-size: 22px;
  // width: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
  opacity: 0.8;
}


.fa:hover {
  opacity: 0.5;
  text-decoration: none;
  color: black;
}
