// HOME  PAGE STYLING

.body {

}

.navbar {
  padding-right: 10%;
  padding-left: 10%;
}


.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-size: 50px;
}

.nav-bar-options {
  justify-content: space-around;
}

.navbar-nav a {
  margin: 0 10px;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: white;
}

.hover-image-1:hover .overlay {
  opacity: 0.5;
}
.hover-image-2:hover .overlay {
  opacity: 0.5;
}

.overlay-text {
  color: black;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


// PORTFOLIO PAGE STYLING


  .job-gallery-container {
    // padding: 40px;
    // max-height: 50%;


}

.carousel-inner video  {
  width: auto;
  height: 500px;
  max-height: 500px;


}

.carousel-inner img  {
  width: auto;
  height: 500px;
  max-height: 500px;


}

.carousel {
  width: fit-content;
  display: block;
  margin: 30px auto;

}

.carousel-inner  {


}

.carousel-item {

}




// gallery

.job-categories {
  margin-top: 10px;
}

.row {
  margin: 15px;
}


.job-name-column {
  text-align: center;
  align-self: center;
  font-size: 30px;
  background-clip: border-box;
  border: solid black 1px;
  height: 100%;
  background-size: cover;

}

.image-spacing  {
  padding: 10px;
}


.line {
        // padding-left : 8vw;
        background-color:black;
        opacity: 0.5;
        height:0.5px;
        width:100%;

    }

// SOCIAL MEDIA

.fa {
  padding: 0 10px;
  font-size: 22px;
  // width: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
  opacity: 0.8;
}


.fa:hover {
  opacity: 0.5;
  text-decoration: none;
  color: black;
}
