

<script>
  $(document).on("click", '[data-toggle="lightbox"]', function(event) {
  event.preventDefault();
  $(this).ekkoLightbox();
});
</script>
<div class="container">

  <div class="row">
    <div class="col-sm-3 mb20 job-name-column">

        L'Oreal

    </div>
    <div class="col-sm-9 mb20">

        <div class="row">
          <a href="https://res.cloudinary.com/tttiff/image/upload/v1584294087/hand_model_site/l%27oreal/Untitled.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://res.cloudinary.com/tttiff/image/upload/v1584294087/hand_model_site/l%27oreal/Untitled.png" class="img-fluid rounded">
          </a>
          <a href="https://res.cloudinary.com/tttiff/image/upload/v1584294084/hand_model_site/l%27oreal/Screenshot_2020-03-04_at_23.41.14.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://res.cloudinary.com/tttiff/image/upload/v1584294084/hand_model_site/l%27oreal/Screenshot_2020-03-04_at_23.41.14.png" class="img-fluid rounded">
          </a>
          <a href="https://res.cloudinary.com/tttiff/image/upload/v1584294077/hand_model_site/l%27oreal/g10.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://res.cloudinary.com/tttiff/image/upload/v1584294077/hand_model_site/l%27oreal/g10.jpg" class="img-fluid rounded">
          </a>
        </div>
        <div class="row">
          <a href="https://res.cloudinary.com/tttiff/image/upload/v1584294075/hand_model_site/l%27oreal/spf_3_.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://res.cloudinary.com/tttiff/image/upload/v1584294075/hand_model_site/l%27oreal/spf_3_.jpg" class="img-fluid rounded">
          </a>
          <a href="https://res.cloudinary.com/tttiff/image/upload/v1584294074/hand_model_site/l%27oreal/b_a.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://res.cloudinary.com/tttiff/image/upload/v1584294074/hand_model_site/l%27oreal/b_a.jpg" class="img-fluid rounded">
          </a>
          <a href="https://res.cloudinary.com/tttiff/image/upload/v1584294074/hand_model_site/l%27oreal/retinol.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://res.cloudinary.com/tttiff/image/upload/v1584294074/hand_model_site/l%27oreal/retinol.jpg" class="img-fluid rounded">
          </a>
        </div>

    </div>
     <hr class="line" />
  </div>


</div>
