
<div class="row justify-content-center">

  <div class="col-md-8 test hover-image-1">

      <img src="https://res.cloudinary.com/tttiff/image/upload/v1584296906/hand_model_site/stylist_garden/shot-3.jpg" class="img-fluid rounded" alt="Image">
      <div class="overlay">
        <div class="overlay-text ">For hand and commercial model bookings please email charles.tiffany.r@gmail.com</div>
      </div>

  </div>
</div>


