
<div class="row justify-content-center">

  <div class="col-md-8 test hover-image-1">

      <img src="https://res.cloudinary.com/drgkvt0q0/image/upload/v1599055101/commercial/77%20Diamonds/77_Diamonds_4_2_xv214c.jpg" class="img-fluid rounded contact-image" alt="Image">
 <!--      <div class="contact-box"> -->
        <div class="contact-text ">
        <p>For Hand & Commercial Model Bookings:</p>

        <p>model.tiffanycharles@gmail.com </p>

        </div>
<!--       </div> -->
  </div>
</div>


