
<div class="body-container">

<div class="row justify-content-center">
  <div class="col-md-5 hover-image-1">
    <a href='/commercial'>
      <img src="https://res.cloudinary.com/drgkvt0q0/image/upload/v1599054282/commercial/Marrakech/Marrakech_bedroom_1_qvyyrl.jpg" class="img-responsive img-fluid" style="width:100%; " alt= “hand_model_london”  >
      <div class="overlay">
        <div class="overlay-text">COMMERCIAL</div>
      </div>
    </a>
  </div>

  <div class="col-md-5 hover-image-2">
    <a href='/hands'>
      <img src="https://res.cloudinary.com/drgkvt0q0/image/upload/v1599058589/L%27Oreal/g10_ysqbiy.jpg" class="img-responsive img-fluid" style="width:100%;" alt= “hand_model_london” >
       <div class="overlay">
        <div class="overlay-text">HANDS</div>
      </div>
    </a>
  </div>
</div>


</div>
