<div class="row justify-content-center">
  <div class="col-md-5 hover-image-1">
    <a href='/commercial'>
      <img src="https://res.cloudinary.com/tttiff/image/upload/v1583768569/hand_model_site/Marrakech/Marrakech_bedroom_1.jpg" class="img-responsive img-fluid" style="width:100%; " alt= “hand_model_london” title= “tiffany_charles_hand_model_london” >
      <div class="overlay">
        <div class="overlay-text">COMMERCIAL</div>
      </div>
    </a>
  </div>

  <div class="col-md-5 hover-image-2">
    <a href='/hands'>
      <img src="https://res.cloudinary.com/tttiff/image/upload/c_fill,g_auto:faces,h_1200,w_799,x_62,y_844/v1583764507/hand_model_site/g10.jpg" class="img-responsive img-fluid" style="width:100%;" alt= “hand_model_london” title= “tiffany_charles_hand_model_london”>
       <div class="overlay">
        <div class="overlay-text">HANDS</div>
      </div>
    </a>
  </div>
</div>



